{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<img src="{% static 'images/h5.jpg' %}" style="max-width: 100%;">
    <h1 class="about-h1">ABOUT US</h1>
    <div class="about-section">
    <p>In the short span of its existence, People Care Hospital has created its niche on the map of quality healthcare delivery
      in South India by touching nearly 2 million lives. Having earned the trust and loyalty of patients through the 
      compassion of its caregivers and high-precision medical technology, the institution has emerged as the leading
      quaternary care facility in the region.</p>
    <p>We are committed to delivering top-notch healthcare services and ensuring the well-being of our community.</p>
    <p>At People Care Hospital, we strive to create a welcoming and safe environment for all our patients, focusing on both their physical and emotional health.</p>
  </div>

{% endblock %}




