{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% load static %}
{% block title %}Booking{% endblock %}

{% block content %}
    
    <h1>Make an appointment</h1>
    <img src="{% static 'images/h6.jpg' %}"><br><br>
    <hr>
    <div >
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <br>
            <button type="submit" class="btn btn-primary mb-4">SUBMIT</button>
        </form>
    </div>
    
{% endblock %}

