{% extends 'base.html' %}
{% load static%}
{% block title %}Our services{% endblock %}
{% block content %}
<div class="services-section">
        <h1 class="services-h1">OUR FEATURES</h1>
        <h2 class="services-h2">eScribe - Medical Scribe</h2>
        <p class="services-p">Medical scribes document physician and patient interactions during treatment. They transcribe a patient’s information to the EHR, 
            allowing phycians to save time and focus on the patient rather than the documentation. 
            Use of scribbles results in lower documentation burden, improved efficiency and better patient-physician interaction.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias possimus libero mollitia animi optio accusantium, ad accusamus reprehenderit eveniet veniam nihil vitae ducimus minima excepturi aliquid dolores neque consequuntur et! Voluptates dolores nihil deleniti nisi eos temporibus tenetur id provident? Quaerat sequi voluptas itaque atque distinctio, ad animi soluta voluptate nemo quae ex commodi sint beatae asperiores repellendus tempora magnam aliquam consectetur iste nesciunt temporibus, ratione minima? Qui nihil sed corporis aspernatur ipsa tempora, ab obcaecati, explicabo doloribus sint aliquid recusandae debitis expedita numquam magnam quas deserunt 
        labore soluta officiis voluptas hic? Error repudiandae minima modi omnis amet quibusdam!</p>
        <p class="services-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores modi quidem vitae delectus, dicta ex voluptas consequuntur voluptatum, rerum labore quos incidunt vero debitis odio, excepturi impedit magnam aspernatur?</p>
    <p class="services-p">Lorem ipsum dolor sit amet conseckjkjfjjrfrhoirhfhtetur adipisicing elit. Accusamus laboriosam minima maxime quibusdam eos qui, aut doloribus quo. Facilis quo ex, cupiditate laboriosam, animi voluptas sed placeat voluptates, esse quia voluptatem. Dolorum quisquam hic, delectus voluptates voluptatibus fugiat eaque quos?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quasi deleniti pariatur ut quia temporibus, minus fugit dolores suscipit totam accusamus nemo esse odio delectus placeat quidem cupiditate. Odit at fugit dolorum ipsam architecto, illum quae tempore consequuntur animi adipisci?</p>    
</div>

{% endblock %}
